In [1]:
data = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]]

In [3]:
import xlwt

In [11]:
book = xlwt.Workbook()
sheet = book.add_sheet("Tablica")
for row, v in enumerate(data):
    for col, x in enumerate(v):
        sheet.write(row,col,x)
book.save("tablica.xlsx")

In [32]:
from IPython.core.display import HTML,display
import xlrd
book = xlrd.open_workbook("tablica.xlsx")
sheet = book.sheet_by_index(0)
print("{0} {1}x{2}".format(sheet.name, sheet.nrows, sheet.ncols))
content = "<table>"
for rx in range(sheet.nrows):
    content += "<tr>"
    for val in sheet.row(rx):
        content += "<td>"
        content += str(val.value)
        content += "</td>"
    content += "</tr>"
content += "</table>"
display(HTML(content))

Tablica 5x5

In [34]:
import pandas as pd
df = pd.read_excel("tablica.xlsx")
df

    1   2   3   4   5
0   6   7   8   9  10
1  11  12  13  14  15
2  16  17  18  19  20
3  21  22  23  24  25

In [44]:
from tabulate import tabulate 
import xlrd
book = xlrd.open_workbook("tablica.xlsx")
sheet = book.sheet_by_index(0)
print("{0} {1}x{2}".format(sheet.name, sheet.nrows, sheet.ncols))
content = []
for rx in range(sheet.nrows):
    inner = []
    for val in sheet.row(rx):
        inner.append(val.value)
    content.append(inner)
print(tabulate(content))

Tablica 5x5
--  --  --  --  --
 1   2   3   4   5
 6   7   8   9  10
11  12  13  14  15
16  17  18  19  20
21  22  23  24  25
--  --  --  --  --