In [2]:
l=[1,2,3,4]

In [3]:
type(l)

list

In [5]:
l.append(12)
l

[1, 2, 3, 4, 12, 12]

In [6]:
l=[6]
l

[6]

In [7]:
l=l+[5]
l

[6, 5]

In [8]:
l.insert(0,1)
l

[1, 6, 5]

In [10]:
d=0
for i in range(0,100):
    x=d+4
    l.insert(i,x)
    d=x
l

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248,
 252,
 256,
 260,
 264,
 268,
 272,
 276,
 280,
 284,
 288,
 292,
 296,
 300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 6,
 5]

In [11]:
l

[4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248,
 252,
 256,
 260,
 264,
 268,
 272,
 276,
 280,
 284,
 288,
 292,
 296,
 300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 6,
 5]

In [12]:
l.remove(4)
l

[8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248,
 252,
 256,
 260,
 264,
 268,
 272,
 276,
 280,
 284,
 288,
 292,
 296,
 300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 6,
 5]

In [15]:

l

[8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248,
 252,
 256,
 260,
 264,
 268,
 272,
 276,
 280,
 284,
 288,
 292,
 296,
 300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 6,
 5]

In [17]:
l[::+3]

[8,
 20,
 32,
 44,
 56,
 68,
 80,
 92,
 104,
 116,
 128,
 140,
 152,
 164,
 176,
 188,
 200,
 212,
 224,
 236,
 248,
 260,
 272,
 284,
 296,
 308,
 320,
 332,
 344,
 356,
 368,
 380,
 392,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5]

In [18]:
l=range(1,100)

In [19]:
l

range(1, 100)

In [20]:
range?

In [21]:
l=list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
l[1::+2]

[2, 4, 6, 8, 10]

In [29]:
l=[230,321,-432,345]
for i in range (0,len(l)):
    print("(",l[i],",",l[i+1],")")
    print()

( 230 , 321 )

( 321 , -432 )

( -432 , 345 )

IndexError: list index out of range

In [30]:
l,l[1:]

([230, 321, -432, 345], [321, -432, 345])

In [33]:
list(zip(l,l[1:]))

[(230, 321), (321, -432), (-432, 345)]

In [41]:
t=32932939,548584,840583,5843958,20343084,32832,88458,283,58439485,3845,358,843

In [42]:
t

(32932939,
 548584,
 840583,
 5843958,
 20343084,
 32832,
 88458,
 283,
 58439485,
 3845,
 358,
 843)

In [48]:
t[::-1]

(843,
 358,
 3845,
 58439485,
 283,
 88458,
 32832,
 20343084,
 5843958,
 840583,
 548584,
 32932939)

In [54]:
print(*l)

230 321 -432 345

In [59]:
rijec="Python radionica"
rijec1=" a.k.a pyra"
rijec + rijec1
for ch in rijec:
    print(ch)

P
y
t
h
o
n

r
a
d
i
o
n
i
c
a

In [60]:
rijec[1:10]

'ython rad'

In [64]:
rijec[:-1]

'Python radionic'

In [65]:
rijec.title()

'Python Radionica'

In [66]:
(rijec+rijec1).title()

'Python Radionica A.K.A Pyra'

In [70]:
d="1,54,23,43"
d

'1,54,23,43'

In [75]:
d.split()
for n in d.split(","):
    print(int(n))

1
54
23
43

In [76]:
L=list(range(0,10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
str(L)

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

In [79]:
s=str(L)

In [80]:
s.splitlines()

['[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]']

In [81]:
s

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

In [82]:
",".join(s)

'[,0,,, ,1,,, ,2,,, ,3,,, ,4,,, ,5,,, ,6,,, ,7,,, ,8,,, ,9,]'

In [86]:
r={}
r[0]="Rebro"

In [87]:
r

{0: 'Rebro'}

In [88]:
r["Ne"]="Grah"
r

{0: 'Rebro', 'Ne': 'Grah'}

In [90]:
r["Ne1"]="Riba"
r

{0: 'Rebro', 'Ne': 'Grah', 'Ne1': 'Riba'}

In [91]:
for x in r.items():
    print(x)

(0, 'Rebro')
('Ne', 'Grah')
('Ne1', 'Riba')

In [93]:
from pprint import pprint

In [94]:
pprint(r)

{0: 'Rebro', 'Ne': 'Grah', 'Ne1': 'Riba'}

In [95]:
pprint(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
pprint(l)

[230, 321, -432, 345]

In [97]:
pprint(t)

(32932939,
 548584,
 840583,
 5843958,
 20343084,
 32832,
 88458,
 283,
 58439485,
 3845,
 358,
 843)

In [98]:
r.pop(0)

'Rebro'

In [99]:
r.pop("Ne")

'Grah'

In [101]:
r.pop(0,True)

True